body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  padding-top: 25px;
  padding-bottom: 50px;
  background-color: rgb(246, 239, 225);
  color: #333;
}

a {
  text-decoration: none;
  color: rgb(43, 100, 222);
}

#home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}

h1 {
  font-size: 40px;
}

#hymn-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 50px;
  padding-top:30px;
  max-width: 600px;
}

.hymn-no {
  color: rgb(43, 100, 222);
  background-color: rgb(225, 229, 236);
  font-size: 25px;
  text-align: center;
  border: 1px solid;
  border-radius: 5px;
  margin: 5px;
  width: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hymn {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: flex;
}

h4 {
  max-width: 500px;
  text-align: center;
}

.verse {
  padding-bottom: 20px;
  margin: 0px;

}

.chorus {

  font-style: italic;
  padding-bottom: 20px;
  position: relative;
  left: 10px;
  padding-right: 10px;
  margin: 0px;
}

.back-button {
  font-size: 25px;
  margin-bottom: 45px;

}

#new-hymns-button {
  font-size: 25px;
  text-align: center;
  /* border: 1px solid; */
  margin-top: 10px;
  width: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

#new-hymns-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 5px;
  padding-right: 5px;
}

#new-hymns-list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}

.new-hymn {
  border: 1px solid;
  color: rgb(19, 82, 219);
  text-align: left;
  background-color: rgb(225, 229, 236);
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}
